 

<!-- Toolbar -->
<div class="row" >

  <div class="col-md-1"></div>
  <div class="col-md-10 row">

    <div class="col-md-12 row" >
      <div class="col-md-3"><br><br>
        <input *ngIf=" position != '' " type="color" class="form-control" [(ngModel)]="color" />
        <input *ngIf=" position == '' " type="color" class="form-control" (click)="AlertColor()"  readonly/>
      </div>
      <div  class="col-md-3">
        <br><br>
        <p *ngIf=" position != '' " >
          position {{ position }}
        </p>
        <p *ngIf=" position == '' " >
          Choose one square
        </p>
        <br><br>
      </div>
      <div class="col-md-3" *ngIf=" position != '' && color != '' " >
        <br><br>
        <button class="btn button-send" (click)="changeColor()" > Changue Color </button>
      </div>
    </div><br>

    <div *ngFor=" let square of squares; let i = index;"  (click)="ChooseSquare(i)" [ngStyle]="{
      'background-color': square.color 
      }" 
      class="col-md-1 square">    
      <p class="number-position" > {{ i }} </p>  
    </div>

  </div>
  <div class="col-md-1"></div>

</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


